@font-face{
    font-family: Montserrat;
    src: url(/fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face{
    font-family: Atomed;
    src: url(/fontes/Atomed/Atomed.otf);
}

:root{
    --tamanho_borda: 100%;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: Montserrat;
}

header{
    margin: auto;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #E5E5E5;
    display: flex;
    
}

header #boxlogo{
    align-items: center;
    color: #06D39A;
    font-size: 15px;
    margin-left: 20px;
    font-family: Atomed;
}

header  #boxlinks_header{
    width: 50%;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
      
}
#boxlinks_header a{
    text-decoration: none; 
    color: #000;
    transition: 0.05s;
}

#boxlinks_header a:hover{
    border-bottom: solid;
}

#linkAtual{
    border-bottom: solid;
}

#boxcadastro{
    width: auto;
    align-items: center;
    display: flex;
    padding: 10px;
}

div #boxlogin{
    margin-right: 20px;
}

#boxlogin a{
    text-decoration: none;
    color: #06d39a;
    background-color: #fff;
    padding: 6px 50px 6px 50px;
    border-radius: 3px;
}

div #boxregistro{
    margin-right: 20px;
}

#boxregistro a{
    text-decoration: none;
    color: #000;
    background-color: #06d39a;
    padding: 6px 30px 6px 30px;
    border-radius: 3px;
}

#boxlogin a:hover{
    color: #000;
    background-color: #06d39a;
    transition: 0.7s;
}

#boxregistro a:hover{
   color: #06d39a;
   background-color: #fff;
   transition: 0.7s;
}

#resumo{
    display: flex;
    width: 100%;
    flex-direction: row;
}

#resumo div{
    height: 700px;
}

#texto_resumo{
    display: flex;
    width: 40%;
    font-size: 5vw;
    justify-content: center;
    align-items: center;
    padding-left: 6%;
    box-sizing: border-box;
}

.textoDestaque{
    color: #04d99d;
}

#modelo{
    width: 60%;
    background-image: url(/assets/Modelo.png);
    background-repeat: no-repeat;
    background-position: 0px -50px;
    align-self: flex-start;
    box-sizing: border-box;
}

#vantagens{
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #0DC591;
    
}

#vantagens h1{
    font-size: 40px;
}

#vantagens p{
    font-size: 25px;
    color: #E5E5E5;
}

#conteudoVantagens{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10% 0 10%;
    box-sizing: border-box;
    
}


#separator{
    position: absolute;
    width: 100%;
    height: 100%;
}

#separator div{
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #fff;
}

#redondoBaixo{
    bottom: 0px;
    border-radius: var(--tamanho_borda) var(--tamanho_borda) 0 0;
}

#redondoCima{
    top: 0px;
    border-radius: 0 0 var(--tamanho_borda) var(--tamanho_borda);
}

#h1_inferior {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 2.2vw;
}

#inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10vh;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.box_inferior  {
    width: 20%;
    height: 82%;
    margin: auto;
    text-align: center;
    border: 0.5px solid #000;
    padding: 4vh 0;
}

#box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    background-color: #03FFC299;
}

#box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #20F1BF8C;
}

#box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #21DCE899;
}

#box4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0DB0BA80;
}

.box_inferior img {
    width: 12vw;
}

.box_inferior p {
    font-size: 2vw;

}

#investimentos{
    position: relative;
    width: 80%;
    margin: auto;
}

#investimentos h1{
    text-align: center;
    font-size: 3vw;
    padding-bottom: 100px;
    font-weight: light;
}

#invest{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    align-items: center;
    color: #04d99d;
}

#article1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5vw;     
}

#texto_invest{
    font-size: 2vw;
    width: 200%;
    margin-top: 125px;
    text-align: center;
    
}

#texto_invest button{
    margin-top: 30vh;
    width: 55%;
    background-color: #0D946E;
    border: 1px solid #04D99D;
    border-radius: 20px;
    color: #fff;
    font-size: 2vw;
    padding: 10px;
    cursor: pointer;
    
}

#article2 {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 10vw;
}

#article2 h3 {
    text-align: right;
    font-size: 2.5vw;
    margin-bottom: 15vh;
}

.invista_meio div {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    gap: 1vw;
}

.invista_meio img {
    width: 5vw;
    border-radius: 100%;
}

.invista_meio h4 {
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img_maior img {
    width: 40vw;
}

#abra_conta {
    display: flex;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#abra_conta a {
    position: relative;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    width: 40%;
    height: 10vh;
    background-color: #0D946E;
    border: 1px solid #04D99D;
    border-radius: 20px;
    color: #fff;
    margin: auto;
    font-size: 3vw;
    text-decoration: none;
}

button label {
    cursor: pointer;
}

footer{
    font-family: Montserrat;
    width: 100%;
    height: auto;
}

#footerSuperior, #footerInferior{
    width: 100%;
}

#footerSuperior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    background-color: #ececec;
}

#footerEsquerda{
    font-family: Atomed;
    color: #04D99D;
    padding-top: 20px;
    padding-left: 20px; 
    width: 30%;
}

#footerCentro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#insideCentro{
    display: flex;
    width: 70%;
    height: 80%;
}

#nav1, #nav2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 40px;
    width: 60%;
    height: 100%;
}

#nav1 a, #nav2 a{
    text-decoration: none;
    color: #04d99d;
}

#nav1{
    border-right: 1px solid #bababa;
}

#nav2 h6{
    font-weight: normal;
}   

#footerDireita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

#footerInferior{
    height: 80px;
    background-color: #202020dd;
}