*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
  
@font-face{
font-family: Montserrat;
src: url(/fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face{
font-family: Atomed;
src: url(/fontes/Atomed/Atomed.otf);
}

html {
scroll-behavior: smooth;
}

body{
background-color: #f9f9f9;
width: 100%;
font-family: Montserrat;
}

#botaoTema{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04D99D;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    z-index: 3;
    top: 60px;
    right: 20px;
    cursor: pointer;
    transition: 0.5s;
}

#botaoTema img{
    margin: 0;
    width: 90% !important;
}

#botaoTema:hover{
    width: 80px;
    height: 80px;
    transform: translatex(5px);
}

#img_backgraud{
width: 100%;
height: 124vh;
}

#img_backgraud img{
position: absolute;
width: 100%;
height: auto;
z-index: -1;
}

header{
    margin: auto;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #00000046;
    display: flex;
}

header #boxlogo{
    align-items: center;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    font-family: Atomed;
}

header  #boxlinks_header{
    width: 50%;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

#boxlinks_header a{
    text-decoration: none; 
    color: #fff;
    transition: 0.05s;
}

#boxlinks_header a:hover{
    border-bottom: solid;
}

#linkAtual{
    border-bottom: solid;
}

#boxcadastro{
    width: 100%;
    align-items: center;
    display: flex;
    padding: 10px;
}

div #boxlogin{
    margin-right: 20px;
}

#boxlogin a{
    text-decoration: none;
    color: #06d39a;
    background-color: #fff;
    padding: 6px 50px 6px 50px;
    border-radius: 3px;
    transition: 0.7s;
}

div #boxregistro{
    margin-right: 20px;
}

#boxregistro a{
    text-decoration: none;
    color: #000;
    background-color: #06d39a;
    padding: 6px 25px 6px 25px;
    border-radius: 3px;
    transition: 0.7s
}

#boxlogin a:hover{
    color: #000;
    background-color: #06d39a;
}

#boxregistro a:hover{
   color: #06d39a;
   background-color: #fff;
}


/* --- Trajetoria inicio -- */

.trajetoria {
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
padding-bottom: 50px;
width: 100%;
height: 100vh;
background-color: #f9f9f9;
}

#boxtitulo_sobre_nos{
font-family: Montserrat;
align-items: center;
align-self: center;
font-size: 40px;
margin-top: 3%;
}

.green_titulo{
color: #06d39a;
font-family: Montserrat;
}

#botao {
width: 50%;
display: flex;
align-self: center;
justify-content: space-around;
}

input {
background-color: #8d9292;
padding: 20px 15px 20px 15px;
border-radius: 30px;
transition: 0.2s;
}

#ano_2014{
background-color: #06d39a;
}

#boxCamadas{
position: relative;
width: 55%;
align-self: center;
margin-bottom: 18%;
}

#camada1, #camada2, #camada3, #camada4, #camada5 {
background-color: #cdcdcd5b;
font-family: Montserrat;
position: absolute;
width: 100%;
height: auto;
border-radius: 13px;
padding: 10px;
box-sizing: border-box;
visibility: hidden;
text-align: center;
}

#camada1 {
visibility: visible;
}

.titulo_trajetoria{
color: #1bca98;
font-size: 35px;
}

.paragrafo_trajetoria{
font-size: 20px;
margin-top: 3%;
padding: 10px;
}

.linha{
border-style: dashed;
border-color: #000;
border-width: 2px;
rotate: 270deg;
}

/* --- Trajetoria fim -- */

/* --- Plus inicio -- */

.plus {
font-family: Montserrat;
justify-content: space-around;
width: 100%;
height: 100vh;
background-color: #f9f9f9;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 10vh;
margin-top: 50px;
}

.plus_titulo {
font-size: 40px;
width: 50%;
}

#plus_box {
position: relative;
width: 55%;
height: 220px;
display: flex;
flex-direction: row;
gap: 50px;
font-size: 20px;
text-align: left;
margin-bottom: 30px;
margin-top: 30px;
}

#plus_box_box {
position: relative;
width: 55%;
height: 220px;
display: flex;
flex-direction: row;
gap: 50px;
font-size: 20px;
text-align: left;
}

#plus_box h1 {
font-size: 20px;
margin-bottom: 25px;
color: #fff;
}

#plus_box_box h1 {
font-size: 20px;
margin-bottom: 25px;
color: #fff;
}

#plus_box1 {
background: rgb(4, 217, 157);
background: linear-gradient(300deg, #12a1b0 0%, #0dc591 100%);
width: 47%;
padding: 3%;
border-radius: 30px;
box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

#plus_box2 {
background: rgb(4, 217, 157);
background: linear-gradient(300deg, #12a1b0 0%, #0dc591 100%);
width: 47%;
padding: 3%;
border-radius: 30px;
box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

#plus_box3 {
background: rgb(4, 217, 157);
background: linear-gradient(300deg, #12a1b0 0%, #0dc591 100%);
width: 47%;
padding: 3%;
border-radius: 30px;
box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

#plus_box4 {
background: rgb(4, 217, 157);
background: linear-gradient(300deg, #12a1b0 0%, #0dc591 100%);
width: 47%;
padding: 3%;
border-radius: 30px;
box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

/* --- Plus fim -- */

footer {
font-family: Montserrat;
width: 100%;
height: auto;
}

#footerSuperior,
#footerInferior {
width: 100%;
}

#footerSuperior {
display: flex;
flex-direction: row;
justify-content: space-between;
height: 250px;
background-color: #ececec;
}

#footerEsquerda{
    font-family: Atomed;
    color: #04D99D;
    padding-top: 20px;
    padding-left: 20px; 
    width: 30%;
}

#footerCentro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#insideCentro{
    display: flex;
    width: 70%;
    height: 80%;
}

#nav1, #nav2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 40px;
    width: 60%;
    height: 100%;
}

#nav1 a,
#nav2 a {
text-decoration: none;
color: #04d99d;
}

#nav1 {
border-right: 1px solid #bababa;
}

#nav2 h6 {
font-weight: normal;
}

#footerDireita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 30%;

}

#footerDireita img{
    width: 30px;
    z-index: 0;
    
}

#footerInferior {
height: 40px;
font-size: 22px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
background-color: #202020dd;
color: #04d99d;
font-weight: normal;
}
/* ------------------------------------------------------------ */

@media only screen and (min-width: 481px){
    @media only screen and (max-width: 688px){
        #plus_box p{
            font-size: 17px;
        }

        #plus_box_box p{
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 480px) {
    @media only screen and (min-width: 320px){
        #plus_box p{
            font-size: 15px;
        }

        #plus_box_box p{
            font-size: 15px;
        }
    }
    header {
        display: block;
        height: auto;
        background-color: #000000a9;
    }

    header #boxlinks_header {
        width: 100%;
        margin-top: 20px;
        height: auto;
        justify-content: space-between;
        text-align: center;
    }

    #boxlinks_header a {
        width: 30%;
        padding-top: 10px;
        font-size: 16px;
    }

    #page_atual {
        border-bottom: 2px solid;
    }

    #boxcadastro {
        width: 90%;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #boxregistro {
        margin: 0;
    }

    #boxregistro a {
        text-align: center;
        padding: 3px 15px;
    }

    #boxlogin a {
        width: auto;
        text-align: center;
        padding: 3px 25px;
    }

    #img_backgraud {
        height: 650px;
    }

img {
    display: block;
    margin-top: 31.1%;
}
.trajetoria {
    margin-top: px;
    height: 100px;
}
#boxtitulo_sobre_nos {
    display: block;
    width: 100%;
    margin-top: -45%;
    margin-bottom: -80%;
}

h2 {
    font-size: 40px;
    text-align: center;
}
#botao {
    display: block;
    display: flex;
    width: 100%;

    margin-bottom: -100%;
}

input {
    padding: 15px;
}
#boxCamadas {
    width: 90%;
    top: 50px;
}
#camada1 {
    margin-bottom:0 40px;
}
.plus {
    display: block;
    margin-top: 300px;
    height: auto;
}
#plus_box {
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 30px;
}
.plus_titulo {
    width: 100%;
    font-size: 30px;
    margin: auto;
    margin-bottom: 100px;
}

#plus_box1 {
    width: 47%;
    margin-right: -40px;
    margin-left: 9px;
}
#plus_box2 {
    width: 47%;
}
#plus_box_box {
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 30px;
}
#plus_box3 {
    width: 47%;
    height: auto;
    margin-right: -40px;
    margin-left: 9px;
}

#plus_box4 {
    width: 47%;
}
footer {
    height: 420px;
}

#footerSuperior {
    display: flex;
    flex-direction: column;
    height: 390px;
}

#footerInferior {
    height: 30px;
}

#footerEsquerda {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

#footerCentro {
    width: 100%;
    height: 310px;
}

#insideCentro {
    flex-direction: column;
    justify-content: space-around;
}

#nav1,
#nav2 {
    width: 100%;
    height: 80px;
    gap: 15px;
    font-size: 20px;
}

#nav1 {
    border: 0;
}

#footerDireita {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footerDireita a {
    position: relative;
    margin-bottom: 25px;
}
}
/* fim do mobile */

/* começo tablet */
@media only screen and (max-width: 768px) {
@media only screen and (min-width: 481px) {
    header {
        display: block;
        height: auto;
    }

    #boxlogo {
        margin-bottom: 10px;
    }

    header #boxlinks_header {
        display: block;
        width: 95%;
        display: flex;
        justify-content: space-around;
    }

    #boxcadastro {
        width: 100%;
        align-items: center;
        display: flex;
        float: right;
        justify-content: center;
        margin-top: 10px;
    }

    #img_backgraud {
        height: 100vh;
    }
    .trajetoria {
        display: block;
        display: flex;
        flex-direction: column;
        margin-top: -270px;
    }

    #boxtitulo_sobre_nos {
    display: block;
    }
    #botao {
    width: 70%;
    margin-top: -120px;
    }
    #boxCamadas {
    top: -130px;
    width: 70%;
    }

    .plus_titulo {
    width: 80%;
    font-size: 35px;
    margin-left: -55px;
    }
    #plus_box {
    display: block;
    display: flex;
    width: 80%;
    justify-content: space-around;
    }
    #plus_box1 {
    margin-left: -55px;
    }
    #plus_box_box {
    display: block;
    display: flex;
    width: 80%;
    justify-content: space-around;
    }
    #plus_box3 {
    margin-left: -55px;
    }
    #nav1 a {
    margin-right: 12px;
    }
    #nav2 {
    margin-left: 12px;
    }
}
}

@media only screen and (max-width: 1024px) {
@media only screen and (min-width: 769px) {
    header {
    display: block;
    height: auto;
    }
    #boxlogo {
    margin-bottom: 10px;
    }
    header #boxlinks_header {
    display: block;
    width: 95%;
    display: flex;
    justify-content: space-around;
    }

    #boxcadastro {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    float: right;
    margin-top: 10px;
    }

    .trajetoria {
    display: block;
    display: flex;
    flex-direction: column;
    margin-top: -270px;
    }

    #boxtitulo_sobre_nos {
    display: block;
    }
    #botao {
    width: 70%;
    margin-top: -120px;
    }
    #boxCamadas {
    top: -130px;
    width: 70%;
    }

    .plus_titulo {
    width: 80%;
    font-size: 35px;
    margin-left: -55px;
    }
    #plus_box {
    display: block;
    display: flex;
    width: 80%;
    justify-content: space-around;
    }
    #plus_box1 {
    margin-left: -55px;
    }
    #plus_box_box {
    display: block;
    display: flex;
    width: 80%;
    justify-content: space-around;
    }
    #plus_box3 {
    margin-left: -55px;
    }
    #nav1 a {
    margin-right: 12px;
    }
    #nav2 {
    margin-left: 12px;
    }
}
}
/* final tablet */

/* comço leptop */
@media only screen and (max-width: 1280px) {
@media only screen and (min-width: 1025px) {
    header {
    display: flex;
    height: 60px;
    }
    #boxlogo {
    margin-bottom: 10px;
    }
    header #boxlinks_header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    }

    #boxcadastro {
    width: auto;
    display: block;
    align-items: center;
    display: flex;
    margin-top: 10px;
    }
    .trajetoria {
    display: block;
    display: flex;
    flex-direction: column;
    margin-top: -270px;
    }

    #boxtitulo_sobre_nos {
    display: block;
    }
    input {
    width: 100px;
    border-radius: 50px;
    font-size: 20px;
    }
    #botao {
    width: 70%;
    margin-top: -120px;
    height: 100px;
    }
    #boxCamadas {
    top: -130px;
    width: 70%;
    }

    .plus_titulo {
    width: 80%;
    font-size: 35px;
    margin-left: -55px;
    }
    #plus_box {
    display: block;
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-around;
    }
    #plus_box1 {
    margin-left: -55px;
    }
    #plus_box_box {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-around;
    font-size: 25px;
    }
    #plus_box3 {
    margin-left: -55px;
    }
    #nav1 a {
    margin-right: 12px;
    }
    #nav2 {
    margin-left: 12px;
    }

    footer {
        padding-top: 10vh;
    }
}
}
/*  */

/* começo desctop */
@media only screen and (max-width: 1600px) {
@media only screen and (min-width: 1280px) {
    header {
    width: 100%;
    height: 60px;
    display: flex;
    }
    #boxlogo {
    font-size: 15px;
    align-items: center;
    }
    header #boxlinks_header {
    display: block;
    width: 50%;
    display: flex;
    justify-content: space-around;
    float: left;
    }

    #boxcadastro {
    display: block;
    align-items: center;
    display: flex;
    margin-top: 10px;
    width: 28%;
    }
    .trajetoria {
    display: block;
    display: flex;
    flex-direction: column;
    margin-top: -270px;
    }

    #boxtitulo_sobre_nos {
    display: block;
    }
    input {
    width: 100px;
    border-radius: 50px;
    font-size: 20px;
    }
    #botao {
    width: 70%;
    margin-top: -120px;
    height: 100px;
    }
    #boxCamadas {
    top: -130px;
    width: 90%;
    }
    #boxCamadas p {
    padding-bottom: 100px;
    font-size: 25px;
    }

    .plus_titulo {
    width: 80%;
    font-size: 50px;
    padding-top: 5vh;
    }

    #plus_box {
    display: flex;
    width: 85%;
    justify-content: space-around;
    height: auto;
    font-size: 30px;
    }

    #plus_box h1 {
    font-size: 35px;
    }
    #plus_box1 {
    margin-left: -55px;
    }
    #plus_box_box h1 {
    font-size: 35px;
    }
    #plus_box_box {
    display: flex;
    width: 85%;
    justify-content: space-around;
    height: auto;
    font-size: 30px;
    }
    #plus_box3 {
    margin-left: -55px;
    }
    #nav1 a {
    margin-right: 12px;
    }
    #nav2 {
    margin-left: 12px;
    }

    footer {
        padding-top: 10vh;
    }
  }
} 
