*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Montserrat;
    src: url(/fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face{
    font-family: Atomed;
    src: url(/fontes/Atomed/Atomed.otf);
}



body{
    background-color: #f9f9f9;
    width: 100%;
    font-family: Montserrat;
}

#img_backgraud{
    width: 100%;
    height: 124vh;
}

img{
    position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}
header{
    width: 100%;
    height: 60px;
    background-color: #00000044;
    display: flex;
    align-items: center;

}
header #boxlogo{
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    font-family: Atomed;
    

}
header #boxlinks_header{
    width: 50%;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

#boxlinks_header a{
    text-decoration: none;
    color: #ffffff;
    
}

#boxlinks_header a:hover{
    border-bottom: solid 1px;
    
}

 #boxcadastro{
    width: auto;
    align-items: center;
    display: flex;
    padding: 10px;
    font-family: Montserrat;
}

div #boxlogin{
    margin-right: 20px;   
}

#boxlogin a{
    text-decoration: none;
    color: #06d39a;
    background-color: #fff;
    padding: 6px 50px 6px 50px;
    border-radius: 3px;
}
#page_atual{
    border-bottom: solid 0.5px;
}

div #boxregistro{
    margin-right: 20px;
}

#boxregistro a{
    text-decoration: none;
    color: #000;
    background-color: #06d39a;
    padding: 6px 30px 6px 30px;
    border-radius: 3px;
}
div #boxregistro:hover{
     background-color: #fff;
     transition: 0.7s;
}
#boxregistro a:hover{
    color: #06d39a;
    background-color: #fff;
    transition: 0.7s;
}

div #boxlogin:hover{
    background-color: #06d39a;
    transition: 0.7;
}

#boxlogin a:hover{
    color: #000;
    background-color: #06d39a;
    transition: 0.7s;
   
}

/* --- Trajetoria inicio -- */

.trajetoria {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
}

#boxtitulo_sobre_nos{
   font-family: Montserrat;
   align-items: center;
   align-self: center;
   font-size: 40px;
   margin-top: 3%;
}

.green_titulo{
    color: #06d39a;
    font-family: Montserrat;
}

#botao {
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: space-around;
}

input {
   background-color: #8d9292;
   padding: 20px 15px 20px 15px;
   border-radius: 30px;
   transition: 0.2s;
}

#ano_2014{
    background-color: #06d39a;
}

#boxCamadas{
    position: relative;
    width: 55%;
    align-self: center;
    margin-bottom: 18%;
}

#camada1, #camada2, #camada3, #camada4, #camada5 {
    background-color: #cdcdcd5b;
    font-family: Montserrat;
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 13px;
    padding: 10px;
    box-sizing: border-box;
    visibility: hidden;
    text-align: center;
}

#camada1 {
    visibility: visible;
}

.titulo_trajetoria{
    color: #1bca98;
    font-size: 35px;
}

.paragrafo_trajetoria{
    font-size: 20px;
    margin-top: 3%;
    padding: 10px;
}


.linha{
    border-style: dashed;
    border-color: #000;
    border-width: 2px;
    rotate: 270deg;
}

/* --- Trajetoria fim -- */

/* --- Plus inicio -- */

.plus {
    font-family: Montserrat;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plus_titulo {
    font-size: 40px;
    width: 50%;
}

#plus_box {
    position: relative;
    width: 55%; 
    height: 220px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 20px;
    text-align:left;
}

#plus_box_box {
    position: relative;
    width: 55%;
    height: 220px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 20px;
    text-align:left;
}

#plus_box h1    {
    font-size: 20px;
    margin-bottom: 25px;
    color: #fff;
}

#plus_box_box h1{
    font-size: 20px;
    margin-bottom: 25px;
    color: #fff;
}

#plus_box1{
    background: rgb(4,217,157);
    background: linear-gradient(300deg, #12A1B0 0%, #0DC591 100%);
    width: 47%;
    padding: 3%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);

}

#plus_box2{
    background: rgb(4,217,157);
    background: linear-gradient(300deg, #12A1B0 0%, #0DC591 100%);
    width: 47%;
    padding: 3%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

#plus_box3{
    background: rgb(4,217,157);
    background: linear-gradient(300deg, #12A1B0 0%, #0DC591 100%);
    width: 47%;
    padding: 3%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

#plus_box4{
    background: rgb(4,217,157);
    background: linear-gradient(300deg, #12A1B0 0%, #0DC591 100%);
    width: 47%;
    padding: 3%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

/* --- Plus fim -- */